<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="static/wordle.css">
  </head>

 <body>
    <script>
      (function () {
        // Defining the hash before the main bundle allows the bundle access window.hash
        window.wordle = window.wordle || {};
        window.wordle.hash = 'e65ce0a5';
      })();
    </script>
    <script src="static/wordle.js"></script>
    <input type="button" value="recommend", onclick="return recommend()">
    <input type="button" value="new word", onclick="return new_word()">
    <game-app></game-app>
  </body>

</html>
